@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0;
  @apply bg-gray-100; 
  
}

.menu-link .anticon {
  display: flex;
  justify-content: center;
}

/* HomePage */
.overflow-hidden {
  overflow: hidden;
}

@media (max-width: 768px) {
  body {
    overflow: auto; /* Küçük ekranlarda kaydırmayı aktif hale getirir */
  }
  .search-card .text-lg {
    font-size: 1rem; /* Küçük ekranlar için font boyutunu küçültme */
  }
  .search-card .trip-options {
    margin-top: 2.5rem;
    font-size: 0.5rem; /* Küçük ekranlar için yukarıdan 2 birim boşluk bırakıyoruz */
  }
}
